
body {
    font-family: 'Times New Roman', Times, serif;
}


.container{
    height :200px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    color: black;
    justify-content: center;
    display: flex;
    align-items: center; 
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px  ;
    justify-content: space-between;
    column-count: 4;
    column-gap: 10px;
    
}




.h4{
    font-size: 16px;
    line-height: 1;
}
header img{
width: 160px;
float: left;
margin-top: -15px;


}
#course{

    background-color: #084861;
    color: #fff;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    border: 0.5px;
    margin: 20px;
    padding: 10px 10px  ;
    height :35px;
   
}
#course-content{
    background-color: #065f82;
    color: #fff;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    border: 0.5px;
    margin: 20px;
    padding: 10px 10px  ;
    height : 80px;
}
.course-info {
    border: 1px solid #97dee0;
    margin: 20px;
    padding: 40px;
    background-color: #709bba;
}

.week {

    background-color:#8aa2b3 ;
    color: black;
    padding: 5px 10px;
    
    

}

.topic {
    margin-left: 10px;
    margin-bottom: 100px;
    margin-top: 100px;
    font-weight: bold;
}


.purple{
    margin-left: 90px;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    color: whitesmoke;
    padding: 3px 6px;
    background-color:rgb(96, 11, 96) ;
}
.blue{
    margin-left: 90px;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    color: whitesmoke;
    padding: 3px 6px;
    background-color:#044e6c ;
}
.orange{
    margin-left: 90px;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    color: whitesmoke;
    padding: 3px 6px;
    background-color:#513709 ;
}
.green{
    margin-left: 90px;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    color: whitesmoke;
    padding: 3px 6px;
    background-color:#25770e ;
}
.green1{
    margin-left: 90px;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    color: whitesmoke;
    padding: 3px 6px;
    background-color:#42620f ;
}